<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
<style>
   
   body {
       background:green;
   }

   .container {

       display:flex;
       width:100%;
       background: white;
       //*height:100%;
       padding-bottom: 100px;
*/
   }

   .box{
       display: flex;
       width:100%;
       background: yellow;
      align-items: center;
    justify-content: space-around;

   }

   .square {
       display: flex;
       width:100px;
       height:100px;
       background: blue;
       color:white;
       align-items:center;
       
   }

</style>

</head>
<body>
    {% include "nav.html" %}
    {% include "homeslider.html" %}

    <p>Home</p>
    <p>asdcasdcasdcasdcasdcsadcsd</p>
    <div class="container">
      <p>este es un div para poder ver como funciona esta mierda
      </p>  
    </div>

    <div class="container">
        <div class="box">
            <div class="square">producto 1</div>
            <div class="square">producto 2</div>
            <div class="square">producto 3</div>
        </div>
    </div>

</body>
</html>